# Unity
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/WebBuilds/
/[Ww]indows_[Bb]uild/
/Assets/AssetStoreTools*
sysinfo.txt
*.pidb.meta
 
# VS/Rider/MD/Consulo
ExportedObj/
.consulo/
.idea/
*.csproj
*.unityproj
*.booproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
 
# Builds
*.apk
*.unitypackage
*.app
*.exe
*.zip

# OS Generated
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.ide-wal
.vs/BHSimulator/v15/Server/sqlite3/storage.ide-shm
*.lock
.vs/BHSimulator/v15/Server/sqlite3/storage.ide
WebBuild_11/Build/UnityLoader.js
*.bat